---
import { Icon } from 'astro-icon/components'
---


<footer class="grid justify-center mb-5">	
  <div class="m-auto text-center text-lg pb-5">©Example Company</div>	
  <nav class="flex space-x-10">
    <a class="hover:scale-125 hover:opacity-85 transition duration-150 ease-in-out" href="//twitter.com" target="_blank">
      <Icon name="mdi:twitter" size={50}/>
    </a>
    <a class="hover:scale-125 hover:opacity-85 transition duration-150 ease-in-out" href="//youtube.com" target="_blank">
      <Icon name="mdi:youtube" size={50}/>
    </a>
    <a class="hover:scale-125 hover:opacity-85 transition duration-150 ease-in-out" href="//github.com" target="_blank">
      <Icon name="mdi:github" size={50}/>
    </a>
    <a class="hover:scale-125 hover:opacity-85 transition duration-150 ease-in-out" href="//gmail.com" target="_blank">
      <Icon name="mdi:email" size={50}/>
    </a>
  </nav>
</footer>